.check-it-out:hover{
  background: #323232;
}

.check-it-out a:hover{
  font-size: 21px;
}

.header-inner ul a:hover{
  color: skyblue;
}

footer a:hover{
  color: skyblue;
}
main p a:hover, main li a:hover{
  color: #bedff6;
  font-weight: bold;
  text-decoration: underline;
}
#category-filter:hover{
  color: white;
}

.email:hover {
  background-color: #e6e6e6;
}
