.check-it-out:hover {
  background-color: rgb(50, 50, 50);
}

.check-it-out:hover a{
  color: skyblue;
}

.header-inner ul a:hover{
  color: skyblue;
}

footer a:hover{
  color: skyblue;
}

main p a:hover, main li a:hover, .source-code:hover{
  color: #bedff6;
  font-weight: bold;
  text-decoration: underline;
}

.contact-link:hover {
  background-color: #e6e6e6;
  border: 2px solid skyblue;
}
