.header-inner:hover ul{
  display: inline-block;
}

.check-it-out:hover{
  transform: scale(1.1);
  background: #323232;
}

.nav-items a:hover{
  color: white;
}

footer a:hover{
  color: black;
}
main a:hover{
  color: orange;
  font-weight: bold;
}
#category-filter:hover{
  color: white;
}
