.header-inner ul{
  display: none;
  padding-left: 0;
  z-index: 1;
}

.header-inner ul a{
  width: 100%;
  z-index: 1;
  margin-right
}

.icon-menu {
  margin: 0 0 0 20px;
  padding-top: 20px;
}

.icon{
  float: left;
  margin-left: 20px;
}

@media (min-width: 850px){
  .header-inner ul{
    padding: 10px;
    padding-top: 30px;
    margin-top: 0;
    display: inline-block;
  }

  .nav-items li{
    display: inline-block;
    padding: 0;
  }

  .icon-menu {
    display: none;
  }
  .icon{
    float: left;
  }
