.header-inner ul{
  width: 100%;
  display: none;
  margin-top: 20px;
  padding-left: 0;
  z-index: 1;
}

.header-inner ul a{
  margin-left: 20px;
  width: 100%;
  z-index: 1;
}
.icon-menu {
  margin: 0px 0 0 20px;
  padding-top: 20px;
}

@media (min-width: 640px){
  .header-inner ul{
    padding: 10px;
    display: inline-block;
  }
  .header-inner a{
    margin-left: 20px;
  }

  .nav-items li{
    display: inline-block;
    padding: 0;
  }

  .icon-menu {
    display: none;
  }
