.header-container {
  position: relative;
  height: 100px;
  width: 100%;
}

.header-inner {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
}

.header-inner h1 {
  position: absolute;
  width: 120px;
  text-align: center;
  display:inline-block;
  right: 10px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.aliza-title{
  position: absolute;
  display:inline-block;
  right: 140px;
  margin-top: 8px;
  width: 140px;
}
.aliza-title h2{
  margin-top: 10px;
  text-align: right;
  padding: 0;
}
.aliza-title p{
  margin-top: -20px;
  text-align: right;
}

.page-content{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.bio p{
  width: 90%;
  margin: 0 auto;
}
.welcome {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.check-it-out{
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.skills, .tools, .front-end, .back-end{
  width: 250px;
  height: 250px;
}

.skills-container h2{
  text-align: center;
}

.clearfix {
  clear: both;
}

#category-filter {
  width: 100%;
  padding: 5px;
}

@media (min-width: 670px){
  .aliza-title{
    z-index: 0;
  }

  .skills-container {
    display: -webkit-flex;
       display: flex;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-flex-wrap: wrap;
       flex-wrap: wrap;
       -webkit-flex-flow: row wrap;
       flex-flow: row wrap;
       -webkit-align-content: flex-end;
       align-content: flex-end;
  }

  #category-filter{
    width: 300px;
  }
  .projectImg {
    position:relative;
    float: left;
    margin: 20px;
  }

  .aliza-photo{
    position: relative;
    float: left;
    padding: 10px;
  }
  .about-projects {
    margin-top: 5%;
  }

  .welcome p{
    padding-top: 50px;
  }

  .date{
    margin-left: 5px;
  }

  .clearfix{
    clear:both;
  }
}
