.header-container {
  position: relative;
  height: 100px;
  width: 100%;
}

.header-inner {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
}

.header-inner h1 {
  position: absolute;
  width: 120px;
  text-align: center;
  display:inline-block;
  right: 10px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.aliza-title{
  position: absolute;
  display:inline-block;
  right: 140px;
  margin-top: 8px;
  width: 140px;
}
.aliza-title h2{
  margin-top: 10px;
  text-align: right;
  padding: 0;
}
.aliza-title p{
  margin-top: -20px;
  text-align: right;
}
.aliza-photo{
  position: relative;
  text-align: center;
  padding: 10px;
}
.page-content{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.bio p{
  width: 90%;
  margin: 0 auto;
}

.welcome {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.check-it-out{
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.skills-container h2{
  text-align: center;
}

.clearfix {
  clear: both;
}

@media (min-width: 670px){
  .aliza-title{
    z-index: 0;
  }

  .skills-container {
    display: flex;
    align-items: flex-start;
  }

  .tools, .skills, .front-end, .back-end{
    min-height: 360px;
    width: 250px;
    margin-left: 10px;
  }

  .projectImg {
    position:relative;
    float: left;
    margin: 20px;
  }
  .aliza-photo{
    position: relative;
    float: left;
    padding: 10px;
  }
  .about-projects {
    margin-top: 5%;
  }
  .bio p{
    margin-top: 15px;
  }
  .welcome p{
    padding-top: 50px;
  }

  .date{
    margin-left: 5px;
  }

  .clearfix{
    clear:both;
  }

  .welcome {
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
  }

}
