section{
  padding: 5px 15px 25px 15px;
}

nav, footer {
  width: 90%;
}

main {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

footer {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding: 2px 0;
}

.portfolio-header{
  width: 90%;
  margin: 0 auto;
}

.portfolio-header h1{
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
}

.nav-bar{
  position: relative;
  display: block;
  margin: 10px auto;
  padding: 10px;
  padding-bottom: 10px;
}

.check-it-out{
  padding: 5px;
  text-decoration: none;
}

.bio-photo img{
  max-width: 100%;
}

@media (min-width: 640px){
  .bio-photo{
    position: relative;
    float: left;
    padding: 10px;
  }
  .bio p{
    margin-top: 50px;
  }
  #about{
    padding-bottom: 200px;
  }
}
