@import url(https://fonts.googleapis.com/css?family=Poiret+One|Forum|Roboto|Pacifico|Baumans);

body {
  font-family: 'Forum', cursive;
  font-size: 20px;
  background: white;
  color: black;
}

a {
  color: #3B3B3B;
}

main h1{
  font-size: 2rem;
  font-weight: bolder;
}

.logo {
  font-family: courier;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
}

.header-inner h1 {
  border-radius: 8px;
  font-family: courier;
  background-color: skyblue;
  color: black;
  font-size: 40px;
}
.header-inner ul{
  background-color: black;
}

.check-it-out{
  background: black;
  border-radius: 3px;
  font-family: courier;
}

.check-it-out a{
    color: skyblue;
}

#category-filter{
  background: black;
  color: skyblue;
  font-family: courier;
}

.aliza-photo img{
  border-radius: 60px;
}

.header-inner ul a{
  color: white;
  font-size: 22px;
}

.icon-menu {
  font-size: 30px;
}

.header-inner{
  background: black;
  color: white;
}
