@import url(https://fonts.googleapis.com/css?family=Forum|Nixie+One|Cutive);

html {
  background-image: url("/../../img/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: skyblue;
  text-shadow: 0 0 0.2rem #382938;
  text-decoration: none;
}

li{
  list-style-type: none;
}

body {
  font-family: 'Nixie One', cursive;
  font-size: 1.2rem;
  color: white;
}

main h1{
  font-size: 3rem;
}

main h2 {
  font-size: 2rem;
  text-align: center;
}

.welcome-header{
  font-size: 3.5rem;
}

.aliza-title h2{
  font-size: 1.375rem;
  font-family: "Forum", cursive;
}

.aliza-title p{
  font-size: .9375rem;
  font-family: "Forum", cursive;
}

.icon-menu {
  font-size: 1.875rem;
  color: #584158;
}

.header-inner{
  background: white;
  color: rgb(110,80,110);
}

.header-inner h1 {
  border-radius: 8px;
  font-family: courier;
  background-color: skyblue;
  color: #382938;
  font-size: 2.3125rem;
  border: 1px solid #382938;
}

.header-inner ul{
  background-color: white;
}

.header-inner ul a{
  color: rgb(110,80,110);
  font-size: 1.3rem;
  font-family: "Cutive", cursive;
  text-shadow: none;
}

.aliza-photo img{
  border: 1px solid #382938;
}

.projectImg {
  border: 1px solid #382938;
}

.skills-container h2 {
  font-size: 	1.75rem;
  text-align: center;
}

.skills-container li {
  font-size: 1.15rem;
  list-style-type: circle;
}

.contact-link {
  font-size: 1.125rem;
}

.contact-link div{
  font-size: 1.5625rem;
}

footer p{
  font-size: 0.6rem;
}

footer a{
  color: white;
  font-size: 1.5625rem;
}

.logo {
  font-family: courier;
}

@media (min-width: 670px){

  .welcome-header{
    font-size: 8rem;
  }

}

@media (min-width: 850px){
  main h1{
    font-size: 4rem;
  }

  .header-inner ul a{
    font-size: 1.125rem;
  }

}
