@import url(https://fonts.googleapis.com/css?family=Poiret+One|Forum|Roboto|Pacifico);

body{
    background-color: #F2EFDF;
}

section{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border: 1px dashed #211426;
  border-radius: 10px;
}

main h1{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}
article a{
  color: #2B8682;
}

h1, p{
  color: #413659;
}
footer {
  background-color: #413659;
  color: white;
  font-size: .68rem;
  font-family: 'Forum', cursive;
}

.portfolio-header{
  background-color: #656F8C;
  color: white;
}

.portfolio-header h1{
  color: white;
  font-size: 3.63rem;
  font-family: 'Forum', cursive;
}

.nav-bar{
  background-color: #413659;
  color: white;
}

.nav-bar li{
  font-family: 'Poiret One', cursive;
}

.nav-bar a{
  color: white;
  font-size: 1.25rem;
}

.date{
  font-size: .9rem;
}
.check-it-out{
  background-color: #B8CAFF;
  color: #413659;
  font-size: 1.1rem;
  border: 1px solid #413659;
  box-shadow: 1px 5px 5px black;
}

#changeTheWorld{
  font-style: italic;
}

@media (min-width: 640px){
  .portfolio-header h1{
    font-size: 5rem;
  }
  main h1{
    font-size: 2.5rem;
}
