html {
  height: 100%;
}

body {
  background-color: rgba(110,80,110,.8);
  width: 100%;
  position: relative;
  min-height: 100%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

main {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 95%;
}

main h1{
  text-align: center;
  margin: 0;
}

main h2 {
  margin-bottom: 10px;
}

footer {
  display: block;
  padding: 3px 0 5px 0;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}

article {
  position: relative;
}

footer li{
  display: inline-block;
  float: left;
}

footer a{
  margin-right: 10px;
}

footer p{
  padding-right: 15px;
  float: right;
  margin: 1px 10px 0 1px;
}
