section{
  padding: 5px 15px 25px 15px;
}
html{
  height: 100%;
}

body{
  position: relative;
  min-height: 100%;
}
main {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

main h1{
  margin: 0;
  margin-bottom: -7px;
}

article{
  margin: 4px 5px 20px 5px;
}
footer {
  text-align: center;
  margin: 0 auto;
  padding: 2px 0;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}

header{
  margin: 0 auto;
}

header h1{
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
}

nav{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

img{
  max-width: 100%;
}
