@import url(https://fonts.googleapis.com/css?family=Poiret+One|Forum|Roboto|Pacifico|Baumans);

html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Forum', cursive;
  font-size: 20px;
  background: white;
  color: black;
}

a{
  text-decoration: none;
  color: #3B3B3B;
}
.logo {
  font-family: 'Baumans', cursive;
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px;
}
li{
  list-style-type: none;
}

img{
  max-width: 100%;
}

.header-container {
  position: relative;
  height: 130px;
}

.header-inner {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.header-inner h1 {
  border: 4px solid black;
  border-radius: 10px;
  font-family: 'Baumans', cursive;
  position: absolute;
  width: 120px;
  text-align: center;
  display:inline-block;
  right: 20px;
  font-size: 80px;
  padding: 0;
  margin: 0;
  background-color: skyblue;
}
.aliza-title{
  position: absolute;
  display:inline-block;
  right: 155px;
  margin-top: 8px;
  width: 140px;
}
.aliza-title h2{
  margin-top: 0;
  text-align: right;
  font-size: 22px;
  padding: 0;
}
.aliza-title p{
  margin-top: -20px;
  text-align: right;
  font-size: 15px;
}
.header-inner ul{
  width: 100%;
  display: none;
  margin-top: 20px;
  padding-left: 0;
  z-index: 1;
}

.header-inner ul a{
  margin-left: 20px;
  color: #3B3B3B;
  font-size: 22px;
  width: 100%;
  z-index: 1;
}
.icon-menu {
  font-size: 30px;
  margin: 20px 0 0 20px;
}

.header-inner:hover ul{
  display: inline-block;
}

.page-content{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.bio p{
  width: 90%;
  margin: 0 auto;
}

main {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 95%;
}

main h1{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  text-align: center;
}

footer {
  display: block;
  padding: 3px 0 5px 0;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}

article {
  position: relative;
}

footer li{
  display: inline-block;
  float: left;
}

footer a{
  font-size: 25px;
  margin-right: 10px;
}

footer p{
  padding-right: 15px;
  float: right;
  margin: 1px 10px 0 1px;
  font-size: 14px;
}

.check-it-out{
  width: 100%;
  margin: 0 20px;
  background: black;
  border-radius: 3px;
  padding: 5px 0;
  text-align: center;
  border-radius: 2px;
}
.check-it-out a{
    color: skyblue;
}

.check-it-out:hover{
  transform: scale(1.1);
  background: #323232;
}
.skills-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.clearfix {
  clear: both;
}

#category-filter {
  width: 100%;
  background: black;
  color: skyblue;
  padding: 5px;
}

.nav-items a:hover{
  color: black;
}

footer a:hover{
  color: black;
}
.aliza-photo{
  text-align: center;
}
.aliza-photo img{
  border-radius: 60px;
}

@media (min-width: 640px){
  .header-inner h1 {
    top: 20px;
  }
  .header-inner ul{
    padding: 10px;
    display: inline-block;
  }
  .header-inner a{
    margin-left: 20px;
  }

  .nav-items li{
    display: inline-block;
    padding: 0;
  }

  .icon-menu {
    display: none;
  }
  .aliza-title{
    margin-top: 28px;
    z-index: 0;
  }
  #category-filter {
    width: 200px;
  }

  .projectImg {
    position:relative;
    float: left;
    padding: 20px;
  }

  .aliza-photo{
    position: relative;
    float: left;
    padding: 10px;
  }
  .about-projects {
    margin-top: 5%;
  }

  .welcome p{
    padding-top: 50px;
  }

  .date{
    margin-left: 5px;
  }
  .skills {
    float: left;
  }
  .skills{
    margin: 0 auto;
  }
  .languages{
    margin-left: 70px;
    float: left;
  }

  .clearfix{
    clear:both;
  }
}
