@import url(https://fonts.googleapis.com/css?family=Poiret+One|Forum|Roboto|Pacifico|Baumans);

html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Forum', cursive;
  background: white;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
}

img{
  max-width: 100%;
}

.header-container {
  position: relative;
  height: 110px;
}

.header-inner {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.header-inner h1 {
  font-family: 'Baumans', cursive;
  position: absolute;
  width: 200px;
  text-align: center;
  display:inline-block;
  top: 0;
  right: 0;
  font-size: 80px;
  padding: 0;
  margin: 5px;
}

.header-inner ul{
  width: 100%;
  display: none;
  margin-top: 0;
  padding-left: 0;
}

.header-inner ul a{
  margin-left: 20px;
  color: black;
  font-size: 25px;
  width: 100%;
  z-index: 1;
}

.icon-menu {
  font-size: 40px;
  margin: 20px 0 0 20px;
}

.header-inner:hover ul{
  display: inline-block;
}

.page-content{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

main {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 95%;
}

main h1{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  text-align: center;
}

footer {
  display: block;
  padding: 3px 0 5px 0;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}

article {
  position: relative;
}

footer li{
  display: inline-block;
  float: left;
}

footer a{
  font-size: 25px;
  margin-right: 10px;
}

footer p{
  padding-right: 15px;
  float: right;
  margin: 1px 10px 0 1px;
}
.check-it-out{
  width: 100%;
  margin-left: 0 20px;
  background-color: grey;
  text-align: center;
}

.clearfix {
  clear: both;
}

#category-filter {
  width: 100%;
  text-align: center;
}

@media (min-width: 640px){
  .header-inner ul{
    padding: 10px;
    display: inline-block;
  }
  .header-inner a{
    margin-left: 20px;
  }

  .nav-items li{
    display: inline-block;
    padding: 0;
  }

  .icon-menu {
    display: none;
  }
  #category-filter {
    width: 200px;
    float: right;
  }

  .projectImg {
    position:relative;
    float: left;
    padding: 20px;
  }

  .bio-photo{
    position: relative;
    float: left;
    padding: 10px;
  }

  .bio p{
    margin-top: 5%;
  }

  .date{
    margin-left: 5px;
  }

  .clearfix{
    clear:both;
  }
}
