@import url(https://fonts.googleapis.com/css?family=Poiret+One|Forum|Roboto);

body{
    background-color: #F2EFDF;
}
section{
  background-color: white;
  padding: 5px 15px 25px 15px;
  font-family: 'Roboto', sans-serif;
  border: 1px dashed #211426;
  border-radius: 10px;
}

main {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.icon-menu{
  margin-left: 10px;
}

.nav-bar{
  position: relative;
  display: block;
  margin: 10px auto;
  background-color: #413659;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
}

.nav-bar ul{
  display: none;
  margin-top: 0;
  padding-left: 0;
}
.nav-bar:hover ul{
  display: block;
  margin-left: 40px;
  margin-top: -25px;
  margin-bottom: 0;
}
.nav-bar li{
  display: list-item;;
  padding-top: 10px;
  font-family: 'Poiret One', cursive;
  list-style-type: none;
}
.nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.portfolio-header{
  background-color: #656F8C;
  color: white;
  width: 100%;
}

.portfolio-header h1{
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: 'Forum', cursive;
  padding: 5px 0;
  margin: 0 auto;
}

.check-it-out{
  background-color: #B8CAFF;
  color: #413659;
  border: 1px solid #413659;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
article a{
  color: #2B8682;
}

h1, p{
  color: #413659;
}

footer {
  text-align: center;
  background-color: #413659;
  margin: 0 auto;
  width: 90%;
  color: white;
  padding: 2px 0;
  font-size: 11px;
  font-family: 'Forum', cursive;
}

@media (min-width: 640px){
  .nav-bar ul{
    display: inline-block;
    margin: 0;
  }
  .nav-bar:hover ul{
    margin: 0;
    padding: 0;
  }
  .nav-bar li{
    display: inline-block;
    padding: 0;
  }
  .icon-menu {
    display: none;
  }
  .portfolio-header h1{
    font-size: 55px;
  }
}
